# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# JavaScript / Node
node_modules/
dist/
dist-ssr/
*.local

# OS
.DS_Store
Thumbs.db
